<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div class="container blog-content-container">
    <form action="/users/submit" method="post" th:object="${userModel.user }">
        <input name="id" type="hidden" th:value="*{id}">
        名称：<input class="form-control w-50" type="text" name="userName" th:value="*{userName}"><br>
        邮箱：<input class="form-control w-50" type="text" name="email" th:value="*{email}"><br>
        <input type="submit" class="btn default" value="提交">
    </form>
</div>
<div th:replace="~{fragments/footer :: footer}"></div>
</body>
</html>