<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div class="container blog-content-container">
    <div sec:authorize = "isAuthenticated()">
        <p>已有用户登录</p>
        <p>登陆的用户为：<span sec:authentication="name"></span></p>
        <p>用户角色为: <span sec:authentication="principal.authorities"></span></p>
    </div>
    <div sec:authorize = "isAnonymous()">
        <p>未有登陆用户</p>
    </div>
</div>
</body>
</html>
