<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="~{fragments/header :: header}"></head>
<body>
<div class="container blog-content-container">
    <div sec:authorize = "isAuthenticated()">
        <p>已有用户登录</p>
        <p>登陆的用户为：<span sec:authentication="name"></span></p>
        <p>用户角色为: <span sec:authentication="principal.authorities"></span></p>
    </div>
    <div sec:authorize = "isAnonymous()">
        <p>未有登陆用户</p>
    </div>

    <div>
        <nav>
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item active"><a href="#" class="page-link"></a>1</li>
                <li class="page-item"><a href="#" class="page-link"></a>2</li>
                <li class="page-item"><a href="#" class="page-link"></a>3</li>
                <li class="page-item"><a href="#" class="page-link"></a>4</li>
                <li class="page-item"><a href="#" class="page-link"></a>5</li>
                <li class="page-item"><a href="#" class="page-link"></a>6</li>
                <li class="page-item">
                    <a href="#" class="page-link" aria-label="next">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- 右侧栏目 -->
    <div class="col-md-4">
        <div>
            <!--热门标签-->
            <div class="card">
                <h5 class="card-header"><i class="fa fa-tags" aria-hidden="true"></i> 热门标签</h5>
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-2">
                            <a href="/blogs?keyword=Web"><span class="badge badge-default">web design</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--热门用户-->
    <div class="card my-4">
        <h5 class="card-header"><i class="fa fa-user" aria-hidden="true"></i>热门用户</h5>
        <div class="card-block">
            <div class="row">
                <div class="col-lg-12">
                    <span>
                        <a href="/u/lixi" title="lixi">lixi</a>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>

